/* если ширина окна >= 820px */
@media screen and (min-width: 836px) {
div#r_sidebar{position: relative; min-width: 176px; width: 49%; max-width: 49%; float: right;}
div.main_table_div{min-width: 380px; width: 49%; max-width: 49%; float: left;}
}

/* если ширина окна < 820px */
@media screen and (max-width: 820px) {
html {min-width: 580px;}
body {min-width: 570px;}
}

table#depts {position: absolute; float: right; right: 10px; top: 10px;}
table#depts  td{padding: 2px 5px 2px 5px; text-align: center; width: 140px; border: 1px solid #557;}

.debug {font-size: 10px; outline: 3px dotted red;}

div.radio {display: inline;}
div.radio:hover {background: #f0f0f0;}
.spoiler1_head {background: #e7e7e7; border: 1px solid #4874a3; border-radius: 5px; cursor: pointer;}
div.spoiler_content{display: none; background: #F7F7F7; text-align: center;}
div.main_table_div{position: relative;}

table.mtbl_days {position: relative; width: 100%; margin: auto;}
table.mtbl_days td.date {width: 100px; text-align: center; font-size: 16px; background: #eeeeee;}
table.mtbl_days td.date#today {background-color: #fafafa;}
table.mtbl_days td.date#today+td {background: #ddffdd;}
table.mtbl_days td.date span.date {font-size: 26px;}

table.mtbl_days td.day_cal table.daycal {font-size: 10px; text-align: center; width: 100%;}
table.mtbl_days td.day_cal table.daycal td.hour {height:20px; width: 42px; }
table.mtbl_days td.day_cal table.daycal td.trip {cursor: pointer;}
table.mtbl_days td.day_cal table.daycal td.trip:hover {outline: 2px solid 00a;}
table.mtbl_days td.day_cal table.daycal tr:hover {background: #ddf;}


td.mtbl_td_header{padding-left: 51px;}
td.mtbl_td_header table.mtbl_header {position: relative; width: 100%; text-align: center; font-size: 16px;}
td.mtbl_td_header table.mtbl_header td {width: 30%; padding: 0;}


/* Всплывающее окно */
div#w_parent {
	opacity: 0.5;
	background: #FFF;
	width: 100%;
	height: 100%;
	display: none;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 1;
}
div#okno {
	display: none;
	width: 560px;
	background-clip: padding-box;
	background-color: #FFF;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	left: 50%;
	top: 10%;
	margin-left: -280px;
	position: fixed;
	z-index: 1050;
}
.telo-okna {
	position: relative;
	overflow-y: auto;
	padding: 15px;
	max-height: 400px;
}

form#add_Trip_form {width:460px; margin: auto; position: relative;}